@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-md;
  }
  h6 {
    @apply text-sm;
  }
  button {
    @apply border-none font-body cursor-pointer bg-none;
  }
}

:root {
  font-family: "DM Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #4e4d93;
  text-decoration: inherit;
}
a:hover {
  color: #6564a2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
